% include('header', title='Edit Tweet', loggedIn=is_logged_in, nav='edit-tweet')
    <main id="edit-tweet-view">
        <h1>
            Edit Tweet
        </h1>
        <form action="{{'/edit-tweet/' + tweet['id']}}" method="post">
            % if error == "empty":
                <span>
                    A tweet must contain either a title, a description or both
                </span>
            % end
            <label for="edit_tweet_title">
                Title
                <input name="edit_tweet_title" id="edit_tweet_title" type="text" placeholder="Title"
                    value="{{tweet['title']}}" />
            </label>
            <label for="edit_tweet_description">
                Description
                <textarea name="edit_tweet_description" id="edit_tweet_description" placeholder="Description">{{tweet['description']}}</textarea>
            </label>
            <input type="submit" value="SAVE EDITS!">
        </form>
    </main>
% include('footer')