% include('header', title='Login', loggedIn=is_logged_in)
    <main id="login">
        <h1>
            Login
        </h1>
        <form action="/login" method="post">
            % if error == "no_user":
                <span>User doesn't exist</span>
            % end
            <label>
                Email
                % if error == "user_email":
                    <span>Please enter a valid email</span>
                % end
                <input name="user_email" type="text" placeholder="Email" value="{{user_email or ''}}">
            </label>
            <label>
                Password
                % if error == "user_password":
                    <span>Please enter the correct password</span>
                % end
                <input name="user_password" type="password" placeholder="Password">
            </label>
            <button>LOGIN</button>
        </form>
    </main>
% include('footer')