% include('header', title='Login', loggedIn=False)
    <main>
        <h1>
            Login
        </h1>
        <form action="/login" method="post">
            % if error == "no_user":
                <h2>
                    User doesn't exist
                </h2>
            % end
            <div>
                % if error == "user_email":
                    <h2>
                        Please enter a valid email
                    </h2>
                % end
                <label>Email</label>
                <input name="user_email" type="text" placeholder="email" value="{{user_email or ''}}">
            </div>
            <div>
                % if error == "user_password":
                    <h2>
                        Please enter the correct password
                    </h2>
                % end
                <label>Password (min 6 max 50 characters)</label>
                <input name="user_password" type="password" placeholder="password">
            </div>
            <button>LOGIN</button>
        </form>
    </main>
% include('footer')