% include('header', title='New Tweet', loggedIn=is_logged_in, nav='new-tweet')
    <main id="new-tweet-view">
        <h1>
            Post a new tweet!
        </h1>
        <form action="/new-tweet" method="post">
            % if error == "empty":
                <span>A tweet must contain either a title, a description or both</span>
            % end
            <label for="new_tweet_title">
                Title
                <input name="new_tweet_title" id="new_tweet_title" type="text" placeholder="Title"/>
            </label>
            <label for="new_tweet_description">
                Description
                <textarea name="new_tweet_description" id="new_tweet_description" placeholder="Description"></textarea>
            </label>
            <input type="submit" value="POST!">
        </form>
    </main>
% include('footer')